.flex {
    display: flex;
    background-color: yellow;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    /*flex-wrap: wrap;*/
    /*flex-direction : column*/
}
.contenido1 {
    background-color: white;
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
    
}

.contenido2 {
    background-color: white;
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}

.contenido3 {
    background-color: white;
    /*height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}
